In [162]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
import requests
import time
import re

# Wikipedia Most Viewed YouTube videoes

In [102]:
def youtube_video_list(url):
    rank = []
    Name = []        
    Artist = []        
    views = []        
    uploadedon = []
    driver=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
    driver.get(url)
    for i in range(1,15):
        rnk = ("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(i)+"]/td[1]")
        nm = ("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(i)+"]/td[2]")
        atst = ("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(i)+"]/td[3]")
        vw = ("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(i)+"]/td[4]")
        dt = ("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(i)+"]/td[5]")
        try:
            a=driver.find_elements_by_xpath(rnk)
            for i in a:
                rank.append(i.text.replace('.',''))
        except NoSuchElementException :
            rank.append("--NA--")
        try:
            b=driver.find_elements_by_xpath(nm)
            for i in b:
                Name.append(i.text.replace('.',''))
        except NoSuchElementException :
            Name.append("--NA--")
        try:
            c=driver.find_elements_by_xpath(atst)
            for i in c:
                Artist.append(i.text.replace('.',''))
        except NoSuchElementException :
            Artist.append("--NA--")
        try:
            d=driver.find_elements_by_xpath(vw)
            for i in d:
                views.append(i.text+ ' Billion')
        except NoSuchElementException :
            views.append("--NA--")
        try:
            e=driver.find_elements_by_xpath(dt)
            for i in e:
                uploadedon.append(i.text.replace('.',''))
        except NoSuchElementException :
            uploadedon.append("--NA--")

    driver.quit()

    datafrm=pd.DataFrame({"Rank":rank,"Video Name":Name,"Artist":Artist,"Views":views,"Uploaded Date":uploadedon})
    return datafrm

In [103]:
youtube_video_list('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

,Rank,Video Name,Artist,Views,Uploaded Date
0,1,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.91 Billion,"June 17, 2016"
1,2,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.20 Billion,"January 12, 2017"
2,3,"""Shape of You""[31]",Ed Sheeran,5.18 Billion,"January 30, 2017"
3,4,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.96 Billion,"April 6, 2015"
4,5,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.77 Billion,"October 8, 2016"
5,6,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41 Billion,"January 31, 2012"
6,7,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.09 Billion,"November 19, 2014"
7,8,"""Gangnam Style""[38]",Psy,3.97 Billion,"July 15, 2012"
8,9,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69 Billion,"February 27, 2018"
9,10,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.64 Billion,"May 2, 2018"
10,11,"""Phonics Song with Two Words""[42]",ChuChu TV,3.53 Billion,"March 6, 2014"
11,12,"""Sorry""[43]",Justin Bieber,3.40 Billion,"October 22, 2015"
12,13,"""Sugar""[44]",Maroon 5,3.39 Billion,"January 14, 2015"
13,14,"""Roar""[45]",Katy Perry,3.27 Billion,"September 5, 2013"

# BCCI Match Details

In [186]:
driver_bcci=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_bcci.get('https://www.bcci.tv/')
title = []
match = []
location = []
datetime = []
urls=[i.get_attribute("href") for i in driver_bcci.find_elements_by_xpath("//div[@class='drop-down__options']/ul/li/a")]
for i in urls:
    if re.search('international/fixtures',i):
        driver_bcci.get(i)

In [187]:
try:
    for i in driver_bcci.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
            title.append(i.text)
except NoSuchElementException :
    title.append('--NA--')
try:
    for i in driver_bcci.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
        match.append(i.text)
except NoSuchElementException :
        match.append('--NA--')
try:
    for i in driver_bcci.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
        location.append(i.text)
except NoSuchElementException :
        location.append('--NA--')
try:
    
    date=driver_bcci.find_elements_by_xpath("//span[@class='fixture__date']")
    month=driver_bcci.find_elements_by_xpath("//span[@class='fixture__month']")
    time=driver_bcci.find_elements_by_xpath("//span[@class='fixture__time']")
    for i in range(len(time)):
        datetime.append(date[i].text+" "+month[i].text+" "+time[i].text)
except NoSuchElementException :
    datetime.append('--NA--')

driver_bcci.quit()

In [189]:
datafrm=pd.DataFrame({"Title":title,"Match":match,"Location":location,"Views":datetime})

datafrm

,Title,Match,Location,Views
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13 FEBRUARY 09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24 FEBRUARY 14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04 MARCH 09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12 MARCH 19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14 MARCH 19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16 MARCH 19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18 MARCH 19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20 MARCH 19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23 MARCH 13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26 MARCH 13:30 IST
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28 MARCH 13:30 IST
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST 15:30 IST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST 15:30 IST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST 15:30 IST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER 15:30 IST
15,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER 15:30 IST

# Selenium Exceptional Handling

In [30]:
driver_sel=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_sel.get('https://www.guru99.com/')
urls=[i.get_attribute("href") for i in driver_sel.find_elements_by_xpath("//a[@title='Selenium']")]

driver_sel.get(urls[1])
driver_sel.maximize_window()
time.sleep(3)


try:
    driver_sel.find_elements_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")[0].click()
except ElementClickInterceptedException:
    time.sleep(2) 
    driver_sel.find_element_by_css_selector("//div[@class='aurora-be-content aurora-ButtonElement--content']/button")[1].click()
    print('Done')

In [41]:
name = []
description = []
for i in range(1,35):
    nm = ("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[1]")
    desc = ("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[2]")
    try:
        a=driver_sel.find_elements_by_xpath(nm)
        for i in a:
            name.append(i.text)
    except NoSuchElementException :
        name.append("--NA--")
    try:
        b=driver_sel.find_elements_by_xpath(desc)
        for i in b:
            description.append(i.text)
    except NoSuchElementException :
        description.append("--NA--")
driver_sel.quit()
datafrm=pd.DataFrame({"Exception_name":name,"Description":description})

datafrm

,Exception_name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.

# India's StateWise GDP

In [53]:
driver_gdp=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_gdp.get('http://statisticstimes.com/')
driver_gdp.maximize_window()
time.sleep(3)
urls=[i.get_attribute("href") for i in driver_gdp.find_elements_by_xpath("//div[@class='dropdown-content']/a")]
for i in urls:
    if re.search('economy/india-statistics',i):
        driver_gdp.get(i)
        time.sleep(3)
driver_gdp.get([i.get_attribute("href") for i in driver_gdp.find_elements_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")][0])

In [58]:
rank = []
state = []
yr19_20 = []
yr18_19 = []
share = []
gdp = []
for i in range(1,35):
    rnk = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[1]")
    st = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[2]")
    y19_20 = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[3]")
    y18_19 = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[4]")
    shr = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[5]")
    gdpbil = ("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[6]")
    
    try:
        a=driver_gdp.find_elements_by_xpath(rnk)
        for i in a:
            rank.append(i.text)
    except NoSuchElementException :
        rank.append("--NA--")
    try:
        b=driver_gdp.find_elements_by_xpath(st)
        for i in b:
            state.append(i.text)
    except NoSuchElementException :
        state.append("--NA--")
    try:
        a=driver_gdp.find_elements_by_xpath(y19_20)
        for i in a:
            yr19_20.append(i.text)
    except NoSuchElementException :
        yr19_20.append("--NA--")
    try:
        b=driver_gdp.find_elements_by_xpath(y18_19)
        for i in b:
            yr18_19.append(i.text)
    except NoSuchElementException :
        yr18_19.append("--NA--")
    try:
        a=driver_gdp.find_elements_by_xpath(shr)
        for i in a:
            share.append(i.text)
    except NoSuchElementException :
        share.append("--NA--")
    try:
        b=driver_gdp.find_elements_by_xpath(gdpbil)
        for i in b:
            gdp.append(i.text)
    except NoSuchElementException :
        gdp.append("--NA--")
driver_gdp.quit()
datafrm_gdp=pd.DataFrame({"Rank":rank,"State":state,"Year_2019-20":yr19_20,"Year_2018-19":yr18_19,"Share %":share,"GDP ($Billion)":gdp})
datafrm_gdp

,Rank,State,Year_2019-20,Year_2018-19,Share %,GDP ($Billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
2,3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
4,5,Gujarat,-,"1,502,899",7.92%,227.276
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"531,374","492,229",2.59%,74.437
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,-,"73,170",0.39%,11.065
23,24,Tripura,"55,358","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"40,802","36,656",0.19%,5.543
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,-,"27,869",0.15%,4.214
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,-,"19,520",0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

# Githup Trending Repositories

In [77]:
driver_git=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_git.get('https://github.com/')
driver_git.maximize_window()
time.sleep(3)
url=[i.get_attribute("href") for i in driver_git.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")]
driver_git.get(url[0])

In [105]:
repo = []
desc = []
contributor = []
lang = []
try:
    a = driver_git.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in a:
        if i.text is None:
            repo.append('NA')
        else:
            repo.append(i.text)
except NoSuchElementException :
    repo.append("--NA--")
try:
    b = driver_git.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
    for i in b:
        if i.text is None:
            desc.append('NA')
        else:
            desc.append(i.text)
except NoSuchElementException :
    desc.append("--NA--")
try:
    c = driver_git.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
    for i in c:
        if i.text is None:
            lang.append('NA')
        else:
            lang.append(i.text)
except NoSuchElementException :
    lang.append("--NA--")
try:
    d = driver_git.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/a[1]")
    for i in d:
        if i.text is None:
            contributor.append('NA')
        else:
            contributor.append(i.text)
except NoSuchElementException :
    contributor.append("--NA--")

driver_git.quit()
datafrm_git=pd.DataFrame({"Repository":repo[0:22],"Repositiory_Description":desc[0:22],"Contributors_Count":contributor[0:22],"Language":lang[0:22]})
datafrm_git

,Repository,Repositiory_Description,Contributors_Count,Language
0,libsdl-org / SDL,Simple Directmedia Layer,489,C
1,Azure / azure-quickstart-templates,Azure Quickstart Templates,"9,449",PowerShell
2,system76 / launch,System76 Launch Configurable Keyboard,779,Shell
3,benbjohnson / litestream,Streaming S3 replication for SQLite.,"2,011",Go
4,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,91,Rust
5,deepmind / deepmind-research,This repository contains implementations and i...,"5,151",Jupyter Notebook
6,satwikkansal / wtfpython,What the f*ck Python? 😱,"24,567",Python
7,vlang / v,"Simple, fast, safe, compiled language for deve...","22,230",V
8,serhii-londar / open-source-mac-os-apps,🚀 Awesome list of open source applications for...,"24,754",Swift
9,PowerShell / PowerShell,PowerShell for every system!,"24,330",C#
10,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,"75,061",JavaScript
11,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,"27,633",TypeScript
12,streamich / react-use,React Hooks — 👍,"19,616",TypeScript
13,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,"1,067",HTML
14,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",574,JavaScript
15,reactend / reactend-express,React renderer to build Node.js server,205,JavaScript
16,flybywiresim / a32nx,The A32NX Project is a community driven open s...,"2,979",Go
17,Dimbreath / GenshinData,Repository containing the game data for the ga...,83,Python
18,hashicorp / vault,"A tool for secrets management, encryption as a...","20,080",Kotlin
19,abhishekkrthakur / colabcode,Run VSCode (codeserver) on Google Colab or Kag...,"1,091",Go
20,florisboard / florisboard,An open-source keyboard for Android. Currently...,577,Python
21,goreleaser / goreleaser,Deliver Go binaries as fast and easily as poss...,"7,186",C#

# Naukri Data Architect

In [111]:
driver=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver.get("https://www.naukri.com/")
keywords = driver.find_element_by_name("keyword")
keywords.clear()
keywords.send_keys('Data Architect')
time.sleep(5)
location =  driver.find_element_by_name("location")
search_btn = driver.find_elements_by_xpath("//button[@class='btn']")
search_btn[0].click()


joblist = []
company = []        
location = []        
experience = []        
salary = []
time.sleep(2)
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
cmp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
lcn_name=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
exp_yr=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
sal=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
tags=[job_title,cmp_name,lcn_name,exp_yr,sal]
for i in tags:
    if i == job_title:
        for t in i:
            joblist.append(t.text)
    elif i == cmp_name:
        for t in i:
            company.append(t.text)
    elif i == lcn_name:
        for t in i:
            location.append(t.text)
    elif i == exp_yr:
        for t in i:
            experience.append(t.text)
    else:
        for t in sal:
            salary.append(t.text)
time.sleep(2)
driver.quit()
Data_Scnt_Blr=pd.DataFrame({'Job Title':joblist,'Company Name':company,'Location':location,'Experience':experience,'Salary':salary})
Data_Scnt_Blr

,Job Title,Company Name,Location,Experience,Salary
0,Big Data Architect - Business Intelligence/ Da...,Huquo Consulting Pvt. Ltd,Bengaluru,11-14 Yrs,Not disclosed
1,Big Data Architect (Need Immediate joiners),Pyramid IT Consulting Pvt Ltd.,Hyderabad(Madhapur),8-13 Yrs,"14,00,000 - 24,00,000 PA."
2,Business IT - Data Architect,Shell India Markets Private Limited,Bengaluru,5-8 Yrs,Not disclosed
3,Data Architect,IBM India Pvt. Limited,Bengaluru,10-12 Yrs,Not disclosed
4,Business IT - Data Architect,Shell India Markets Private Limited,Bengaluru,5-8 Yrs,Not disclosed
5,Genpact is Hiring- Data Architect or BI/DW Arc...,GENPACT India Private Limited,Bengaluru,4-9 Yrs,Not disclosed
6,Data Architect - Retail Inventory/Supply Chain...,AugmatrixGo,"Pune, Gurgaon Gurugram, Hyderabad",8-12 Yrs,Not disclosed
7,Exciting Opportunity with Luxoft- Data Architect,Luxoft India LLP,"Chennai, Bengaluru, Hyderabad",8-12 Yrs,Not disclosed
8,Big Data with Spark/ Scala - Architect/ Senior...,Mindtree Limited,Bengaluru,10-16 Yrs,Not disclosed
9,Big Data Architect - Bi/dw/java,Huquo Consulting Pvt. Ltd,Bengaluru,10-14 Yrs,Not disclosed
10,Data Architect - Tableau/Qlikview/Big Data Tools,Ontime Solutions,Bengaluru,7-12 Yrs,Not disclosed
11,Hexaware Hiring For Data Architect,Hexaware Technologies Ltd.,Mumbai,7-12 Yrs,Not disclosed
12,Delivery Manager & Data Architect,CENTRAPRISE GLOBAL PRIVATE LIMITED,"Hyderabad, Visakhapatnam",10-12 Yrs,Not disclosed
13,GCP Data Architect,Prodapt Solutions Private Limited,"Chennai, Bengaluru",12-15 Yrs,Not disclosed
14,Data Architect,Enquero,"Hyderabad, telangana",8-12 Yrs,Not disclosed
15,GCP Data Architect,Prodapt Solutions Private Limited,"Chennai, Bengaluru / Bangalore",12-15 Yrs,Not disclosed
16,Big Data Architect,Schneider Electric India Pvt. Ltd.,Bengaluru,6-10 Yrs,Not disclosed
17,Data Architect - Analytics,Autodesk India Pvt Ltd,Bengaluru,7-12 Yrs,Not disclosed
18,Microsoft Modern Data Platform Data Architect,Accenture Solutions Pvt Ltd,Bengaluru,12-15 Yrs,Not disclosed
19,Cloud Data architect,SNAPMINDS TECHNOLOGIES LLP,Bengaluru(Hebbal),10-15 Yrs,"20,00,000 - 25,00,000 PA."

# Top 100 Books

In [141]:
driver_book=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_book.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver_book.maximize_window()
time.sleep(5)
rank = []
title = []
author = []
volume_sl = []
publsher = []
gener = []

for i in range(1,101):
    rnk = ("//td[@id='table-cell-10943-"+str(i)+"-0']")
    ttl = ("//td[@id='table-cell-10943-"+str(i)+"-1']")
    auth = ("//td[@id='table-cell-10943-"+str(i)+"-2']")
    volsl = ("//td[@id='table-cell-10943-"+str(i)+"-3']")
    pub = ("//td[@id='table-cell-10943-"+str(i)+"-4']")
    gen = ("//td[@id='table-cell-10943-"+str(i)+"-5']")
    try:
        a=driver_book.find_elements_by_xpath(rnk)
        for i in a:
            rank.append(i.text)
    except NoSuchElementException :
        rank.append("--NA--")
    try:
        a=driver_book.find_elements_by_xpath(ttl)
        for i in a:
            title.append(i.text)
    except NoSuchElementException :
        title.append("--NA--")
    try:
        a=driver_book.find_elements_by_xpath(auth)
        for i in a:
            author.append(i.text)
    except NoSuchElementException :
        author.append("--NA--")
    try:
        a=driver_book.find_elements_by_xpath(volsl)
        for i in a:
            volume_sl.append(i.text)
    except NoSuchElementException :
        volume_sl.append("--NA--")
    try:
        a=driver_book.find_elements_by_xpath(pub)
        for i in a:
            publsher.append(i.text)
    except NoSuchElementException :
        publsher.append("--NA--")
    try:
        a=driver_book.find_elements_by_xpath(gen)
        for i in a:
            gener.append(i.text)
    except NoSuchElementException :
        gener.append("--NA")
driver_book.quit()
Data_book=pd.DataFrame({'Rank':rank,'Book_Title':title,'Book_Author':author,'Publisher':publsher,'Volume_Sales':volume_sl,'Genre':gener})
Data_book

,Rank,Book_Title,Book_Author,Publisher,Volume_Sales,Genre
0,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Bloomsbury,"4,475,152",Children's Fiction
1,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Bloomsbury,"4,200,654",Children's Fiction
2,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Bloomsbury,"4,179,479",Children's Fiction
3,5,Fifty Shades of Grey,"James, E. L.",Random House,"3,758,936",Romance & Sagas
4,6,Harry Potter and the Goblet of Fire,"Rowling, J.K.",Bloomsbury,"3,583,215",Children's Fiction
...,...,...,...,...,...,...
94,96,"Ghost,The","Harris, Robert",Random House,"807,311",General & Literary Fiction
95,97,Happy Days with the Naked Chef,"Oliver, Jamie",Penguin,"794,201",Food & Drink: General
96,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Scholastic Ltd.,"792,187",Young Adult Fiction
97,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Orion,"791,507",Biography: General
98,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Penguin,"791,095",Food & Drink: General

# IMDB top TV serials

In [143]:
driver_imdb=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_imdb.get("https://www.imdb.com/list/ls095964455/")
driver_imdb.maximize_window()
time.sleep(5)

In [158]:
serial_name = []
span = []
rating = []
vote = []
gener = []
tme = []
try:
    nm = driver_imdb.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in nm:
        serial_name.append(i.text)
except NoSuchElementException :
    serial_name.append("--NA--")
try:
    spn = driver_imdb.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in spn:
        span.append(i.text)
except NoSuchElementException :
    span.append("--NA--")
try:
    rt = driver_imdb.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
    for i in rt:
        rating.append(i.text)
except NoSuchElementException :
    rating.append("--NA--")
try:
    vt = driver_imdb.find_elements_by_xpath("//span[@name='nv']")
    for i in vt:
        vote.append(i.text)
except NoSuchElementException :
    vote.append("--NA--")
try:
    tm = driver_imdb.find_elements_by_xpath("//span[@class='runtime']")
    for i in tm:
        tme.append(i.text)
except NoSuchElementException :
    tme.append("--NA--")
try:
    tm = driver_imdb.find_elements_by_xpath("//span[@class='genre']")
    for i in tm:
        gener.append(i.text)
except NoSuchElementException :
    gener.append("--NA--")
driver_imdb.quit()

In [159]:
Data_top=pd.DataFrame({'Serial_Name':serial_name,'Year_Span':span,'Ratings':rating,'Votes':vote,'Genre':gener,'Time':tme})
Data_top

,Serial_Name,Year_Span,Ratings,Votes,Genre,Time
0,Game of Thrones,(2011–2019),9.3,"1,769,755","Action, Adventure, Drama",57 min
1,Stranger Things,(2016– ),8.7,"822,054","Drama, Fantasy, Horror",51 min
2,The Walking Dead,(2010– ),8.2,"853,282","Drama, Horror, Thriller",44 min
3,13 Reasons Why,(2017–2020),7.6,"256,164","Drama, Mystery, Thriller",60 min
4,The 100,(2014–2020),7.6,"216,420","Drama, Mystery, Sci-Fi",43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,"43,587","Drama, Fantasy",42 min
96,A Series of Unfortunate Events,(2017–2019),7.8,"53,865","Adventure, Comedy, Drama",50 min
97,Criminal Minds,(2005–2020),8.1,"161,182","Crime, Drama, Mystery",42 min
98,Scream: The TV Series,(2015–2019),7.2,"34,092","Crime, Drama, Horror",45 min
99,The Haunting of Hill House,(2018),8.6,"182,338","Drama, Horror, Mystery",572 min

# Datasets from UCI machine learning repositories

In [181]:
driver_uci=webdriver.Chrome('C://Users//735184//Downloads//chromedriver_win32//chromedriver.exe')
driver_uci.get("https://archive.ics.uci.edu/")
driver_uci.maximize_window()
time.sleep(5)
links = [i.get_attribute("href") for i in driver_uci.find_elements_by_xpath("//span[@class='normal']/b/a")]
driver_uci.get(links[0])

In [182]:
dataset = []
datatype = []
deftask = []
attrtyp = []
instnce = []
attr = []
year = []

for i in range(1,600):
    ds = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[1]/table/tbody/tr/td[2]/p/b/a")
    dt = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[2]/p")
    tp = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[3]/p")
    at = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[4]/p")
    ins = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[5]/p")
    atr = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[6]/p")
    yr = ("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[7]/p")
    try:
        a=driver_uci.find_elements_by_xpath(ds)
        for i in a:
            dataset.append(i.text)
    except NoSuchElementException :
        dataset.append("--NA--")
    try:
        a=driver_uci.find_elements_by_xpath(dt)
        for i in a:
            datatype.append(i.text)
    except NoSuchElementException :
        datatype.append("--NA--")
    try:
        a=driver_uci.find_elements_by_xpath(tp)
        for i in a:
            deftask.append(i.text)
    except NoSuchElementException :
        deftask.append("--NA--")
    try:
        a=driver_uci.find_elements_by_xpath(at)
        for i in a:
            attrtyp.append(i.text)
    except NoSuchElementException :
        attrtyp.append("--NA--")
    try:
        a=driver_uci.find_elements_by_xpath(ins)
        for i in a:
            instnce.append(i.text)
    except NoSuchElementException :
        instnce.append("--NA--")
    try:
        a=driver_uci.find_elements_by_xpath(atr)
        for i in a:
            attr.append(i.text)
    except NoSuchElementException :
        attr.append("--NA")
    try:
        a=driver_uci.find_elements_by_xpath(yr)
        for i in a:
            year.append(i.text)
    except NoSuchElementException :
        year.append("--NA")
driver_uci.quit()
    
Data_UCI=pd.DataFrame({'DATASET_NAME':dataset,'DATA_TYPES':datatype[1:],'DEFAULT_TASK':deftask[1:],'ATTRIBUTE_TYPE':attrtyp[1:],'INSTANCES':instnce[1:],'ATTRIBUTES':attr[1:],'YEAR':year[1:]})
Data_UCI

,DATASET_NAME,DATA_TYPES,DEFAULT_TASK,ATTRIBUTE_TYPE,INSTANCES,ATTRIBUTES,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020